$sc:50;
$txt:25;

html{
	width: 100%;
	height: 100%;

}
body{
	width:100%;
	height:100%;
	background: #fdfdfd;
	text-align: center;
}
.imgs{
	padding-top: 6.76rem;
	box-sizing: border-box;
}
.imgs img{
	width: 6.08rem;
}